/********** HEADER **********/
.container-fluid {
<<<<<<< HEAD
	margin-top: 55px;
=======
	margin-top: 75px;
>>>>>>> gh-pages
}

/********** FOOTER **********/
footer {
	width: 100%;
	text-align: center;
}

/********** CROSSFIT **********/
.wod h4 {
	text-align: center;
	width: auto;
}
.wod_button {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.wod-description {
	text-align: center;
<<<<<<< HEAD
	background-color: #27ae60;
	color: #fff;
=======
/*	background-color: #27ae60;
	color: #fff;*/
>>>>>>> gh-pages
}
.text-box {
	height: 150px;
}